flows.json
[
    {
        "id": "494e7808cb2043e0",
        "type": "tab",
        "label": "Simu",
        "disabled": false,
        "info": "Simulation\r\n",
        "env": []
    },
    {
        "id": "94cc45dfc0e4d6aa",
        "type": "tab",
        "label": "MQTT demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bdce3a7.908f7c",
        "type": "mqtt in",
        "z": "94cc45dfc0e4d6aa",
        "name": "",
        "topic": "/iot/test",
        "qos": "0",
        "datatype": "auto",
        "broker": "4119499f.d195b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "48d8ecc7.678dbc"
            ]
        ]
    },
    {
        "id": "48d8ecc7.678dbc",
        "type": "debug",
        "z": "94cc45dfc0e4d6aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "3b64d8bf.b1d9c",
        "type": "inject",
        "z": "94cc45dfc0e4d6aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "12444b6e.b12afd"
            ]
        ]
    },
    {
        "id": "12444b6e.b12afd",
        "type": "mqtt out",
        "z": "94cc45dfc0e4d6aa",
        "name": "",
        "topic": "/iot/test",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4119499f.d195b",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "7b5a6131.cbb6b8",
        "type": "comment",
        "z": "94cc45dfc0e4d6aa",
        "name": "External over WebSocket secure",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    }
]
